{% extends "layout.html" %}

{% block top %}
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
    <h1 class="display-4">{{ big_title }}</h1>
      <p class="lead my-3">{{ big_perex | safe }}</p>
      <p class="lead mb-0"><a href="{{ big_permalink}}" class="text-white font-weight-bold">... continue reading</a></p>
    </div>
      </div>  

{% endblock %}

{% block main %}

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          {% for post in posts %}
            <div class="blog-post">
              <h2 class="blog-post-title"><a href="/posts/view/{{ post.permalink }}">{{ post.title }}</a></h2>
              <p>
                {{ post.maintext | safe }}
              </p>
          </div>
          {% endfor %}
        </div><!-- /.blog-main -->

        {% include "aside.html" %}

      </div><!-- /.row -->

    </main><!-- /.container -->     

{% endblock %}